*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
        min-height: 100px;
        background-color:#31343d;
    }

header {
   background-color:#92ccce ;
   min-height: 100px;
}
aside{
    width: 20%;
    float: left;
    color: green;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
}
