*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
        min-height: 100px;
        background-color:#eeeef7;
    }

header {
   background-color: #31343d;
   min-height: 100px;
}
aside{
    width: 20%;
    float: left;
    color:#445877;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
}

.Description{
    border-right: red;
    min-height: 150px;
    margin-bottom: 50px;
}

.About-me{
    min-height: 200px;
    margin-bottom: 50px;
}

.Work{
    border-right: white;
    min-height: 900px;
    margin-bottom: 50px;
}
.Contact-me{
    border-right: red;
    min-height: 75px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
}

header h1{
    display: inline;
    font-size: 50px;
    color: #31343d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #92ccce;
    
}

nav ul{
    list-style: none;
}

nav ul li{
    float: right;
    margin-left: 30px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a{
    color: #91cacc;
}

.background h2{
    display: block;
    font-size: 30px;
    color: #31343d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 100px;
    float: right;
    background-color: #92ccce;
}
.Digital{
    min-height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image:url("../Images/banner.jpeg");

}
main{
    width: 75%;
    float: right;
}

.Refactoring{
    min-height: 300px;
    width: 100%;
    margin-bottom: 0px;
    background-size: cover;
    background-position: center;
    background-image: url(../Images/purple.jpeg);
}

.Code-Refactor h2{
    display: block;
    padding-top: 280px;
    font-size: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 300px;
    background-color: violet; 
}
.Code-Refactor h3{
    display: inline;
    font-size: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    ;max-width: 300px;
    background-color: violet
}

   